body{
    margin:0;
    padding:0;
    background: url(bg.jpg);
    background-size: cover;
}


.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding:40px;
    background: rgba(0, 0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 10px rgba(0,0, 0 ,.5);
    border-radius: 10px;
}
.login-box h1{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    color: white;

    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;

}

.input-box{
    
    position: relative;
}
.input-box input{
    width:100%;
    padding:10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom:1px solid white ;
    outline: none;
    background: transparent;
}

.input-box label{
    position: absolute;
    top:0;
    left:0;
    color: white;
    padding:10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
    
}
.login-box .input-box input:focus ~ label{
    top: -25px;
    color: rgb(48, 158, 202);
    font-size: 12px;
}
.login-box input[type="submit"]{
    
    background: rgb(48, 158, 202);
    color: white;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}